/*********************************************
	Inherited Styles
**********************************************/

html {
    box-sizing: border-box;
    color: #444;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/*********************************************
	Defaults
**********************************************/

h1 {
	margin: 0;
}

h3 {
	font-weight: bold;
}

main > div {
    padding: 20px;
}

img {
    border: none;
}

/*********************************************
	Helpers
**********************************************/

/*********************************************
    Layout
**********************************************/

.panel {
    background-color: Grey;
}

.panel > div {
    background-color: purple;
    /*width: 960px;*/
    /*margin: 0 auto;*/
    position: relative;
}

@media (max-width: 930px) {
    .panel > div {
    width: 930px;
    }
}

header.main-header {
    background-color: yellow;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

header.main-header > div {
    height: 55px;
    position: relative;

}

.main-header nav {
    background-color: black;
    margin-right: 20px;
    position: absolute;
    right: 0;
}

.main-header nav a {
    background-color: red;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

.logo {
    background-color: green;
    height: 55px;
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 30px;
}

div.main-hero {
    background-color: blue;
    min-height: 400px;
}

div.main-content {
    background-color: orange;
}

div.secondary-content {
    background-color: green;
}



/*********************************************
    Components
**********************************************/
.signup-steps {
    background-color: white;
    text-align: center;
}

.signup-steps .step {
    background-color: yellow;
    width: 33%;
    display: inline-block; 
}

.circles {
    /*font-size: 2.5em;*/
    color: orange;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 50%;
}

.cumanity-definition {
        font-size:      2.2em;
}

.def-quote  {
        font-style:     italic;
        font-size:      1.7em;
        font-stretch:   semi-condensed;
}

.grey {
        color:      #707070;
        font-size:  1.5em;        
}

footer.main-footer {
    background-color: red;
    height: 250px;

}